/*border, padding are not added to the element 
  here we make the elm inherit whatever is put on body*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #f4f1de;
}

body {
  font-family: "SUSE", sans-serif;
  font-weight: 400;
  line-height: 2;
  padding: 2rem;
  margin: 1rem;
}

.heading-primary {
  color: #9a381d;
  text-transform: uppercase;
  padding-top: 15rem;
  padding-right: 5rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 2rem;
  padding-top: 5rem;
  text-align: right;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
  text-align: right;
  padding-right: inherit;
}

.heading-secondary {
  color: #9a381d;
  text-transform: uppercase;
  padding: 5rem;
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 2rem;
  text-align: center;
  text-shadow: 0.5rem 0.5rem 5rem #80550f;
}

.about-us__text {
  font-size: 3rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.3rem;
  color: #9a381d;
  text-shadow: 0.5rem 0.5rem #f2cc8f;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-negative-big {
  margin-top: -8rem;
}

header {
  height: 95vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right bottom, rgba(244, 241, 222, 0.8), rgba(242, 204, 143, 0.8)), url("../../img/shelter.jpg");
  position: relative;
}
header-container {
  background-color: #f4f1de;
  padding: 10rem 0;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 8rem;
  width: auto;
}

.row {
  max-width: 80%;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-4 {
  float: left;
  width: calc((100% - 3 * 6rem) / 4);
  margin-right: 6rem;
  margin-bottom: 8rem;
}
.col-1-of-4:nth-child(4n) {
  margin-right: 0;
}

.col-1-of-3 {
  float: left;
  width: calc((100% - 2 * 6rem) / 3);
  margin-right: 6rem;
  margin-bottom: 8rem;
}
.col-1-of-3:nth-child(3) {
  margin-right: 0;
}

.about-us {
  padding: 40rem 45rem;
}

.card__friends {
  height: auto;
  border-radius: 1.5rem;
  color: #f2cc8f;
  background-image: linear-gradient(to right bottom, rgba(224, 122, 95, 0.8), rgba(154, 56, 29, 0.8));
  padding: 1rem;
  box-sizing: border-box;
  transition: all 0.2s;
}
.card__friends:hover {
  transform: translateY(-2rem);
  background-image: linear-gradient(to right bottom, #e07a5f, #9a381d);
}
.card__friends .picture {
  width: 100%;
  height: auto;
  display: block;
  padding: 0.75rem;
}
.card__friends .card__name {
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
}
.card__friends .card__name--details {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.get-involved {
  height: 95vh;
}

[class*=wrapper] {
  border-radius: 3rem;
  padding: 3rem;
  height: 25rem;
  border-radius: 1.5rem;
  transition: all 0.2s;
}

.card__action-1 {
  background-image: linear-gradient(to right bottom, rgba(62, 101, 82, 0.7), rgba(39, 63, 51, 0.7));
}
.card__action-1:hover {
  transform: translateY(-3rem);
  background-image: linear-gradient(to right bottom, rgba(62, 101, 82, 0.7), #273f33);
}
.card__action-2 {
  background-image: linear-gradient(to right bottom, rgba(120, 125, 165, 0.8), rgba(61, 64, 91, 0.8));
}
.card__action-2:hover {
  transform: translateY(-3rem);
  background-image: linear-gradient(to right bottom, rgba(61, 64, 91, 0.7), rgba(33, 35, 49, 0.9));
}
.card__action-3 {
  background-image: linear-gradient(to right bottom, rgba(224, 122, 95, 0.8), rgba(154, 56, 29, 0.8));
}
.card__action-3:hover {
  transform: translateY(-3rem);
  background-image: linear-gradient(to right bottom, #e07a5f, #9a381d);
}
.card__action-heading {
  color: #f2cc8f;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0.5rem 0.5rem 3rem #80550f;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
}
.card__action--details {
  color: #f2cc8f;
  font-size: 1.5rem;
  letter-spacing: 0.25;
  font-weight: 300;
  text-shadow: 0.2rem 0.2rem 8rem #80550f;
}

.list {
  list-style: circle;
  font-size: 1.25rem;
  color: #f2cc8f;
  text-shadow: 0.2rem 0.2rem 8rem #80550f;
  padding-left: 1.5rem;
}

a {
  text-decoration: underline;
  color: #f2cc8f;
}

.btn:link, .btn:visited {
  text-decoration: none;
  letter-spacing: 0.4rem;
  color: #f2cc8f;
  padding: 0.75rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
}
.btn--friends {
  background-color: #9a381d;
  color: #f4f1de;
  margin-top: 2rem;
  margin-right: 10%;
  float: right;
}
.btn--friends:hover {
  background-image: linear-gradient(to right bottom, #e07a5f, #9a381d);
}

/*# sourceMappingURL=style.css.map */
