@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
0-600px : Phone
600-900px : Tablet portrait
900-1200px : Tablet landscape

[1200-1800] is the normal style (what we started with)

breakpoint arguments:
- phone
- tab-port
- tab-land
*/

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    //600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    //900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
}
