// initial palette here https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f
$colour-white: #fff;

$colour-egg: #f4f1de;
$colour-vanilla: #f2cc8f;
$colour-brown: #80550f;

$colour-brick-light: #e07a5f;
$colour-brick-dark: #9a381d;
$colour-brick-intense: #561f10;

$colour-prune-light: #787da5;
$colour-prune-dark: #3d405b;
$colour-prune-intense: #212331;

$colour-mint-light: #81b29a;
$colour-mint-medium: #3e6552;
$colour-mint-dark: #273f33;

$color-black: #000;

//Default FONT size
$default-font-size: 1.6rem;

//GRID
$grid-width: 80%;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
