.contact-us {
  height: 95vh;
  //MEDIA
  @include responsive(tab-port) {
    margin-top: 25rem;
    height: fit-content;
  }
  .map-container {
    width: 50rem;
    height: 50rem;
    //MEDIA
    @include responsive(tab-port) {
      width: 100%;
    }
  }
  .info {
    //MEDIA
    @include responsive(tab-land) {
      width: 100%;
    }
  }
  .list-contact {
    list-style: none;
    color: $colour-brick-dark;
    font-size: 1.75rem;
    font-weight: 300;
    width: 100%;
    margin-top: 6rem;

    //MEDIA
    @include responsive(tab-land) {
      width: 100%;
      margin-left: 15rem;
    }
    @include responsive(tab-port) {
      width: 100%;
      margin-left: 2.5rem;
      text-align: center;
    }
    &--item {
      transition: all 0.2s;
      position: relative;

      //creating the streaky underline
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0; /* Initially, the underline is hidden */
        height: 0.1rem; /* Thickness of the underline */
        background-color: $colour-brick-dark;
        transition: width 0.3s ease-in-out; /* Smooth transition for the underline */
      }

      //controls the length of the line
      &:hover:after {
        width: 50%;
      }
    }
  }
}
