footer.footer {
  background-color: $colour-brick-dark;
  color: $colour-egg;
  height: 4rem;

  text-align: right;
  font-weight: 300;
  font-size: 1.5rem;
  color: $colour-egg;
}

.footer-text {
  display: inline-block;
  padding-right: 2rem;
  padding-top: 0.5rem;
}
