.btn {
  &:link,
  &:visited {
    text-decoration: none;
    letter-spacing: 0.4rem;
    color: $colour-vanilla;
    padding: 0.75rem 3rem;
    display: inline-block;
    // shaping the btn
    border-radius: 10rem;
    position: relative;
    font-size: 1.6rem;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 2rem rgba($colour-white, 0.2);
  }

  &:active {
    transform: translateY(-0.1rem);
  }

  &--friends {
    background-color: $colour-brick-dark;
    color: $colour-egg;
    margin-top: 2rem;
    margin-right: 10%;
    float: right;
    &:hover {
      background-image: linear-gradient(
        to right bottom,
        rgba($colour-brick-light, 1),
        rgba($colour-brick-dark, 1)
      );
    }
  }
}
